.SetTimer-controls {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Timer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Start-Reset {
  display: flex;
  justify-content: center;
}